.text-deco{
    text-decoration: none;
}

.adm{
    padding-top: 15px;
    padding-bottom: 0px;

}
#container{
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 45px;
    background: rgba(252, 217, 111, .2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 200px;
    margin-bottom: 200px;
}
.th{
    color: white;
}