.contact {
  font-family: 'serif';
  font-size: 50px;
  text-align: center;
}

.text {
  font-family: 'serif';
  font-size: 25px;
  text-align: center;
}

section {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  width: 500px;
  background: rgba(252, 217, 111, .2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.body {
  background-image: url(../assets/contato.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
