.center{
    text-align: center;
}
.form-group{
    padding: 10px;
}

.form-field{
    padding: 5px;
    width: 70%;
}
*{
    margin: 0;
    padding: 0;
    margin-top: 0px;
}

.form-field{
    border-radius: 16px;
}

