@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* From https://css.glass */
  background: rgba(252, 217, 111, .2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 6rem 1.25rem;
}

.equipe h1 {
  font-family: Shrikhand;
  color: #d3723f;
  text-shadow: 1px 5px 8px #000000;
}

.card-group {
  justify-content: center;
  align-items: center;
}

.card {
  background: #d3723f !important;
  border-color: #fcd96f !important;
  color: #fcd96f;
}
