@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.equipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.equipe h1 {
  margin-top: 1.25rem;
  font-family: Shrikhand;
  color: #b45c2d;
}

.card-group {
  justify-content: center;
  align-items: center;
}

.card {
  background: #fcd96f !important;
  border-color: #d3723f !important;
  color: #b45c2d
}